.dashboard_page {
    background-color: var(--dark-green);
}

.background_girl {
    background-image: url('/public/image/png/bggirl.png');
    background-clip: content-box;
    min-height: 80vh;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 90% 100%;
}

.lh-30 {
    line-height: 30px;
}

.mw-vh-36 {
    max-width: 36vw;
}

.mw-custom {
    max-width: 38em;
}

.multi_back {
    background-image: url('/public/image/other/Ellipse1.png'), url('/public/image/other/Ellipse3.svg'), url('/public/image/other/Rectangle2.svg'), url('/public/image/other/Rectangle3.svg');
    background-position: left 0% top 0px, left 50% top 50%, left 72% top 0%, left 98.5% top 100%;
    /* height: max-content; */
    /* height: 400px; */
    background-repeat: no-repeat;
    background-size: 75px, 40px, 130px, 170px;
    max-width: 1500px;
}

.image_container {
    max-width: 400px;
    width: 100%;
    height: 300px;
    min-width: 320px;
}

.image_thumb {
    max-width: 460px;
    min-width: 320px;
    width: 100%;
}

.mw-586 {
    max-width: 586px;
}

.margin-top-negaitve {
    margin-top: -100px !important;
}

.blue_back {
    background: url('/public/image//svg/Rectangle.svg');
    background-repeat: no-repeat;
}

.mw-700 {
    width: 100%;
    max-width: 700px;
}

img {
    object-fit: contain;
}