:root {
  --white: #fff;
  --dark-green: #49BBBD;
  --light-green: #49bbbd99;
  --light-color: #ffffff4d;
  --text-grey: #696984;
  --body-gray: #ececec;
  --hilight: #00CBB8;
  --dblue: #2F327D;
}

.light-gray {
  color: var(--text-grey)
}


body {
  /* background-color: var(--body-gray) !important; */
}

div#root > *:-webkit-scrollbar {
  display: none !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pointer {
  cursor: pointer;
}

.lh-42 {
  line-height: 42px !important;
}

.ws-7 {
  word-spacing: 7px;
}

.ls-1 {
  letter-spacing: 1px;
}

.wc-70 {
  max-width: calc(70%);
}

.mw-670 {
  max-width: 400px;
}

.hilight {
  color: var(--hilight) !important;
}

.dblue {
  color: var(--dblue) !important;
}